*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

h1{
    font-weight: normal;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    font-family: 'Gill Sans';
}

.shape{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle{
    border-radius: 50%;
}

#circle:hover{
    background-color: green;
}

#diamond{
    rotate: 45deg;
    margin-top: 25%; 
    height: 160px; 
    width: 160px;
    translate: 20px;
}

#diamond h1{
    rotate: -45deg;
}

#square:hover{
     background-color: red;
}

#diamond:hover{
    background-color: blue;
}